openapi: 3.0.0
info:
  title: Hub Search Catalog OgcRoot API
  description: 'Welcome to the Search API. This guide describes how to use the Search API to programmatically query, filter, and search a catalog. Use this explorer to test API endpoints and search the site''s catalog without needing to use the site''s client search interface. Common uses cases include rendering features on a map in other tools including ArcGIS Map Viewer, GIS desktop applications, OWSLib, and more.




    The Search API conforms to the new OGC API - Records specification. For further details including definitions and example use cases, see the <a href="https://doc.arcgis.com/en/hub/content/federate-data-with-external-catalogs.htm#GUID-EAF833F8-FADA-4EC7-A1CA-F704DC987362">web help</a>.'
  version: 1.0.0
  contact: {}
servers:
- url: https://hub.arcgis.com
  description: ArcGIS Hub Search API (used by Dartmouth Open Data portal data-dartmouth.opendata.arcgis.com)
tags:
- name: OgcRoot
paths:
  /api/search/v1:
    get:
      description: Provides links to the API definition, the Conformance statements and the metadata about the coverage data in this dataset.
      operationId: OgcRootController_getSiteRoot_api/search/v1
      parameters:
      - name: token
        required: false
        in: query
        description: ArcGIS token to use when accessing the underlying ArcGIS Item that represents the site.
        schema:
          type: string
      responses:
        '200':
          description: A data object describing the site and its API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OgcApiLandingPageDto'
      summary: ''
      tags:
      - OgcRoot
components:
  schemas:
    OgcItemDto:
      type: object
      properties:
        id:
          type: string
          title: id
        type:
          type: string
          title: type
          enum:
          - Feature
        geometry:
          title: geometry
          oneOf:
          - title: GeoJSON Point
            type: object
            required:
            - type
            - coordinates
            properties:
              type:
                type: string
                enum:
                - Point
              coordinates:
                type: array
                minItems: 2
                items:
                  type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
          - title: GeoJSON LineString
            type: object
            required:
            - type
            - coordinates
            properties:
              type:
                type: string
                enum:
                - LineString
              coordinates:
                type: array
                minItems: 2
                items:
                  type: array
                  minItems: 2
                  items:
                    type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
          - title: GeoJSON Polygon
            type: object
            required:
            - type
            - coordinates
            properties:
              type:
                type: string
                enum:
                - Polygon
              coordinates:
                type: array
                items:
                  type: array
                  minItems: 4
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
          - title: GeoJSON MultiPoint
            type: object
            required:
            - type
            - coordinates
            properties:
              type:
                type: string
                enum:
                - MultiPoint
              coordinates:
                type: array
                items:
                  type: array
                  minItems: 2
                  items:
                    type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
          - title: GeoJSON MultiLineString
            type: object
            required:
            - type
            - coordinates
            properties:
              type:
                type: string
                enum:
                - MultiLineString
              coordinates:
                type: array
                items:
                  type: array
                  minItems: 2
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
          - title: GeoJSON MultiPolygon
            type: object
            required:
            - type
            - coordinates
            properties:
              type:
                type: string
                enum:
                - MultiPolygon
              coordinates:
                type: array
                items:
                  type: array
                  items:
                    type: array
                    minItems: 4
                    items:
                      type: array
                      minItems: 2
                      items:
                        type: number
              bbox:
                type: array
                minItems: 4
                items:
                  type: number
        properties:
          type: object
          title: properties
        time:
          type: object
          title: time
      required:
      - id
      - type
      - geometry
      - properties
      - time
    OgcApiLandingPageDto:
      type: object
      properties:
        title:
          type: string
          description: API title
        description:
          type: string
          description: API description
        item:
          description: OGC Record of underlying API Resource
          allOf:
          - $ref: '#/components/schemas/OgcItemDto'
        links:
          description: API links
          type: array
          items:
            $ref: '#/components/schemas/OgcApiLandingPageLinkDto'
      required:
      - title
      - description
      - links
    OgcApiLandingPageLinkDto:
      type: object
      properties:
        rel:
          type: string
          description: relationship
        type:
          type: string
          description: link MIME type
        title:
          type: string
          description: link title
        href:
          type: string
          description: link uri
      required:
      - rel
      - type
      - title
      - href
